<!DOCTYPE html>
<html>
<head>
    <title>ट्रैक्टर खाता- ERROR </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <style>
        .container {
            max-width: 400px;
            margin-top: 50px;
            margin-bottom: 50px;
        }
    </style>
</head>
<body>
    <h1 class="text-center">{{error_message}}</h1>
    <p class="text-center"><a href="/login">Login</a></p>
    <p class="text-center"><a href="/register">Register</a></p>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>    
</body>
</html>
