<!DOCTYPE html>
<html>
<head>
    <title>ट्रैक्टर खाता</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <style>
        .container {
            max-width: 100%;
            margin-top: 50px;
            margin-bottom: 50px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center">ट्रैक्टर खाता में आपका स्वागत है! </h1>
        <h2 class="text-center">Welcome to Tractor Khata!</h2>
        <img src="/static/TractorLogo.png" alt="Tractor Logo" width="250px" height="200px">
        <p class="text-center"><a href="/login">लॉगिन (Login)</a></p>
        <p class="text-center"><a href="/register">नया अकाउंट बनाएं (Register)</a></p>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>    
</body>
</html>
