<!DOCTYPE html>
<html>
<head>
    <title>ट्रैक्टर खाता लॉगिन</title>
</head>
<body>
    <h1>अपने ट्रैक्टर खाता में लॉगिन करें</h1>

    <form action="{{ url_for('login') }}" method="POST">
        <label for="phone_number">फ़ोन नंबर (Phone Number):</label>
        <input type="text" id="phone_number" name="phone_number" required>
        <br/>
        <label for="password">पासवर्ड (Password):</label>
        <input type="password" id="password" name="password" required>
        <br><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>
